{{ define "main" }}
<!-- Home -->
<section id="home" class="banner style1 color6 orient-right content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
   <div class="content">
      <h1>Anne Stewart</h1>
      <p class="major">Textiles, art and crafts.</p>
      <ul class="actions stacked">
         <li><a href="#first" class="button fit smooth-scroll-middle">About</a></li>
         <li><a href="#gallery" class="button fit smooth-scroll">Portfolio</a></li>
         <li><a href="#contact" class="button fit smooth-scroll-middle">Get in touch</a></li>
         <li><a href="https://www.etsy.com/" class="button fit">Go to Etsy Shop <i class="icon style1 icon-arrow-right"></i></a></li>
      </ul>
   </div>
   <div class="image">
      <img src="img/bg/070.jpg" alt="Boat by Anne Stewart" />
   </div>
</section>

<!-- About -->
<section class="spotlight style4 color7 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
   <div class="content">
      <header>
         <h2>About</h2>
         <p>Subtitle goes here</p>
      </header>
      <p>Trained in textiles and fashion and enriched by the diversity of teaching art and design for too many years in the classroom, my own textile work reflects an eclectic mix of colour, surface imagery and texture.  Essentially a weaver, but with an affinity for the use of a sewing machine and an over enthusiastic habit of collecting  fabrics, yarns and threads, my creations are rich in their visual palette and decorative in content and design. Landscapes and the natural world are underlying themes with stitched and dyed fabric studies and ‘thread paintings’ of gardens, the South West coastline, Scottish islands, Isles of Scilly and inland water ways recurring themes.</p>
      <p>Applied traditional, recycled and vibrant fabrics are compiled to create cushions and quilts and textile characters such as feisty fairies and sprites are conjured from off-cuts. Lavender bags and stitched cards show attention to detail in their individual combinations of thread, fibre and fabric. Wool, alpaca, mohair and silk yarns mix, blend and intertwine in tactile knitted scarves. The wool from local and rare breed sheep provide the raw material for a growing flock of needle felted sheep.</p>
      <ul class="actions stacked">
         <li><a href="#gallery" class="button wide smooth-scroll">Portfolio</a></li>
         <li><a href="#contact" class="button wide smooth-scroll-middle">Get in touch</a></li>
      </ul>
   </div>
   <div class="image">
      <img src="img/bg/P1010012.jpg" alt="Textile cushions by Anne Stewart" />
   </div>
</section>

<!-- Portfolio -->
<section id="gallery" class="wrapper style1 color6 align-left">
   <div class="inner">
      <h2>Portfolio</h2>
      <p>Some examples of my work go here...</p>
   </div>

   <!-- Gallery -->
      <div class="gallery style1 small lightbox onscroll-fade-in">
         <article>
            <a href="img/gallery/fulls/boats/003.jpg" class="image">
               <img src="img/gallery/thumbs/boats/003.jpg" alt="alt text for image 1" />
            </a>
            <div class="caption">
               <h3>Image 1</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/boats/004.jpg" class="image">
               <img src="img/gallery/thumbs/boats/004.jpg" alt="alt text for image 2" />
            </a>
            <div class="caption">
               <h3>Image 2</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/boats/005.jpg" class="image">
               <img src="img/gallery/thumbs/boats/005.jpg" alt="alt text for image 3" />
            </a>
            <div class="caption">
               <h3>Image 3</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/boats/070.jpg" class="image">
               <img src="img/gallery/thumbs/boats/070.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Sed Tempus</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/flower fairies/011 (2).jpg" class="image">
               <img src="img/gallery/thumbs/flower fairies/011 (2).jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ultrices Magna</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/flower fairies/012.jpg" class="image">
               <img src="img/gallery/thumbs/flower fairies/012.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Sed Tempus</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/flower fairies/014 (2).jpg" class="image">
               <img src="img/gallery/thumbs/flower fairies/014 (2).jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Lorem</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/flower fairies/016 (2).jpg" class="image">
               <img src="img/gallery/thumbs/flower fairies/016 (2).jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Magna Risus</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/quilts/004 leaves.jpg" class="image">
               <img src="img/gallery/thumbs/quilts/004 leaves.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Tempus Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/quilts/2012 textiles 882.jpg" class="image">
               <img src="img/gallery/thumbs/quilts/2012 textiles 882.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Sed Etiam</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/quilts/2012 textiles 883.jpg" class="image">
               <img src="img/gallery/thumbs/quilts/2012 textiles 883.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Magna Lorem</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/pictures/006.jpg" class="image">
               <img src="img/gallery/thumbs/pictures/006.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/pictures/IMG_6160.jpg" class="image">
               <img src="img/gallery/thumbs/pictures/IMG_6160.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/sheep/IMG_7900.jpg" class="image">
               <img src="img/gallery/thumbs/sheep/IMG_7900.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/sheep/IMG_7906.jpg" class="image">
               <img src="img/gallery/thumbs/sheep/IMG_7906.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/sheep/IMG_7912.jpg" class="image">
               <img src="img/gallery/thumbs/sheep/IMG_7912.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/lavendar bags/2012 textiles 1154.jpg" class="image">
               <img src="img/gallery/thumbs/lavendar bags/2012 textiles 1154.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/lavendar bags/IMG_7886.jpg" class="image">
               <img src="img/gallery/thumbs/lavendar bags/IMG_7886.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/cards/2012 textiles 1157.jpg" class="image">
               <img src="img/gallery/thumbs/cards/2012 textiles 1157.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
         <article>
            <a href="img/gallery/fulls/cards/2012 textiles 1158.jpg" class="image">
               <img src="img/gallery/thumbs/cards/2012 textiles 1158.jpg" alt="" />
            </a>
            <div class="caption">
               <h3>Ipsum Dolor</h3>
               <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
               <ul class="actions fixed">
                  <li><span class="button small">Details</span></li>
               </ul>
            </div>
         </article>
      </div>
</section>

<!-- Contact -->
<section id="contact" class="wrapper style1 color7 align-left">
   <div class="inner medium">
      <h2>Get in touch</h2>
      <form method="post" action="#" name="Contact" data-netlify="true" data-netlify-recaptcha="true">
         <div class="fields">
            <div class="field half">
               <label for="name">Name</label>
               <input type="text" name="name" id="name" value="" required/>
            </div>
            <div class="field half">
               <label for="email">Email</label>
               <input type="email" name="email" id="email" value="" required/>
            </div>
            <div class="field">
               <label for="message">Message</label>
               <textarea name="message" id="message" rows="6" required></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
         </div>
         <ul class="actions special fit">
            <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
         </ul>
      </form>

   </div>
</section>
{{ end }}