{{ define "main" }}
<section id="contact">
   <div class="inner">
      <section>
         <h2>{{ .Title }}</h2>
         <form name="Contact" method="post" data-netlify="true">
            <div class="fields">
               <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" required/>
               </div>
               <div class="field half">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" required/>
               </div>
               <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6" required></textarea>
                  <small class="copyright minor">Your details will not be shared with anyone else.</small>
               </div>
            </div>
            <ul class="actions">
               <li><input type="submit" value="Send Message" class="primary" /></li>
               <li><input type="reset" value="Clear" /></li>
            </ul>
         </form>
      </section>
      <section class="split">
         <section>
            <div class="contact-method">
               <span class="icon solid alt icon-calendar"></span>
               <h3>Market Stalls:</h3>
               <h3>Kenway House</h3>
               <h5>1st January 2021</h5>
               <p>Kenway House<br />
               Sidmouth<br />
               Postcode</p>
            </div>
         </section>
      </section>
   </div>
</section>
{{ end }}