{{ define "main" }}
<section class="spotlights">
   <section>
      {{ with .Params.image -}}
      <span class="image">
         <img src="{{ .path }}" alt="{{ .alt }}" data-position="center center" />
      </span>
      {{ end -}}

      <div class="content">
         <div class="inner">
            <header class="major">
               <h3>{{ .Title }}</h3>
            </header>
            {{ .Content }}
         </div>
      </div>
   </section>
</section>
{{ with .Params.gallery -}}
   {{ partial "gallery.html" . }}
{{ end -}}
{{ end }}