{{ "<!-- Banner -->" | safeHTML}}
<section id="banner" class="major">
   <div class="inner">
      <span class="image">
         <img src="img/070.jpg" alt="" data-postion="center center"/>
      </span>
      <header class="major">
         <h1>{{ .Site.Title }}</h1>
      </header>
      <div class="content">
         {{ .Content }}
         <!-- <ul class="actions">
            <li><a href="#two" class="button next scrolly">Portfolio</a></li>
         </ul> -->
      </div>
   </div>
</section>