<head>
   <title>
      {{- if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} &#x25CF; {{ .Title }}{{ end -}}
   </title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <!-- Social meta links to go here -->

   {{- range .Site.Params.plugins }}
   <link rel="stylesheet" href="{{ .link }}">
   {{- end }}

   {{- $default_options := (dict "outputStyle" "compressed") }}

   {{- range .Site.Params.styles }}
      {{- $css_options := dict "targetPath" (print (.path | path.Base | strings.TrimSuffix "scss" | path.Join "css") "css") }}
      {{- $options := merge $default_options $css_options }}
      {{ $style := resources.Get .path | toCSS $options }}

      {{- if .noscript }}<noscript>{{ end -}}
         <link rel="stylesheet" href="{{ $style.RelPermalink }}">
      {{- if .noscript }}</noscript>{{ end -}}

   {{- end }}
</head>